{% extends "cricket_center_base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}
{% load user_agents %}
{% block title %}Cricket Center | {{block.super}}{% endblock title %}
{% block stylesheets %}
  {{block.super}}
{% endblock stylesheets %}

{% block other_page_content %}
<dir class="MainBackground">
  <div class="color-overlay"></div>
</dir>  
<div class="MatchArea">
  <h1>Hello</h1>
  <h1>Hello</h1>
  <h1>Hello</h1>
  <h1>Hello</h1>
  <h1>Hello</h1>
  <h1>Hello</h1>
  <h1>Hello</h1>
  <h1>Hello</h1>
  <h1>Hello</h1>
  <h1>Hello</h1>
  <h1>Hello</h1>
  <h1>Hello</h1>  
</div>


  <!--<div class="outer">
    <div class="middle">
      <div class="inner row">
        <h3 style="text-align:center;">India VS Australia</h3><hr>
        <div class="conatiner col-sm-6">
          <img src="{% static "images/india_flag.jpeg" %}" class="img-responsive center-block" data-aos="fade-left">
        </div>
        <div class="conatiner col-sm-6">
          <img src="{% static "images/aus_flag.jpeg" %}" class="img-responsive center-block" data-aos="fade-right">
        </div>&nbsp;
        <div class="matchInfo" data-aos="fade-up">
          <img src="{% static "images/newhex.png" %}" class="img-responsive center-block" class="matchInfoContainer">
          <h4 class="venue">Venue : At Firozsah Kotla Ground</h4>
          <h4 class="matchNo">Match : Ind vs Aus, First ODI</h4>
          <h4 class="playerCounter">Starting In : 1235</h4>
          <button type="button" class="btn btn-success btn-lg playNowButton" id="signup">Play Now</b></button>
        </div>
        
      </div>
    </div>
  </div>
  <div class="outer">
    <div class="middle">
      <div class="inner row">
        <h3 style="text-align:center;">India VS Australia</h3><hr>
        <div class="conatiner col-sm-6">
          <img src="{% static "images/india_flag.jpeg" %}" class="img-responsive center-block" data-aos="fade-left">
        </div>
        <div class="conatiner col-sm-6">
          <img src="{% static "images/aus_flag.jpeg" %}" class="img-responsive center-block" data-aos="fade-right">
        </div>&nbsp;
        <div class="matchInfo" data-aos="fade-up">
          <img src="{% static "images/newhex.png" %}" class="img-responsive center-block" class="matchInfoContainer">
          <h4 class="venue">Venue : At Firozsah Kotla Ground</h4>
          <h4 class="matchNo">Match : Ind vs Aus, First ODI</h4>
          <h4 class="playerCounter">Starting In : 1235</h4>
          <button type="button" class="btn btn-success btn-lg playNowButton" id="signup">Play Now</b></button>
        </div>
        
      </div>
    </div>
  </div>
  <div class="outer">
    <div class="middle">
      <div class="inner row">
        <h3 style="text-align:center;">India VS Australia</h3><hr>
        <div class="conatiner col-sm-6">
          <img src="{% static "images/india_flag.jpeg" %}" class="img-responsive center-block" data-aos="fade-left">
        </div>
        <div class="conatiner col-sm-6">
          <img src="{% static "images/aus_flag.jpeg" %}" class="img-responsive center-block" data-aos="fade-right">
        </div>&nbsp;
        <div class="matchInfo" data-aos="fade-up">
          <img src="{% static "images/newhex.png" %}" class="img-responsive center-block" class="matchInfoContainer">
          <h4 class="venue">Venue : At Firozsah Kotla Ground</h4>
          <h4 class="matchNo">Match : Ind vs Aus, First ODI</h4>
          <h4 class="playerCounter">Starting In : 1235</h4>
          <button type="button" class="btn btn-success btn-lg playNowButton" id="signup">Play Now</b></button>
        </div>     
      </div>
    </div>
  </div>-->
</div>

{% endblock %}


