{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Home | {{block.super}}{% endblock title %}
{% block stylesheets %}
  {{block.super}}
{% endblock stylesheets %}
{% block other_page_content %}
<div id="first">
  <div class="trans row">
    <p>&nbsp;</p><p>&nbsp;</p>
    <div class="col-md-7">
      <div class="logo">
        <img src="{% static "images/testlogo.png" %}" alt="Sorry! LOGO Not Found" class="logo"  class="img-responsive">
        {# <h4 style="text-align:right; margin-top:-30px;">LET'S BE THE <b>CHAMPS</b> TOGETHER.</h4> #}
        <h1>PLAY FANTASY SPORTS & </h1>
        <h1>WIN DAILY <b>CASH PRIZES!</b></h1>
        <button type="button" class="btn btn-success btn-lg" id="signup">Signup to Get Instant <b>₹25 Bonus</b></button>
        <h4>OR</h4>
        <button type="button" class="btn btn-success btn-lg" id="signup">Login Here</button>
      </div>
    </div>
    <div class="col-md-5">
      <div class="form_wrapper">
        <div class="form_container">
          <div class="title_container">
            <h2>Login to FantasyChamp</h2>
          </div>
          <div class="col_half last">
            <form>
              <div class="input_field"> <span><i aria-hidden="true" class="fa fa-envelope"></i></span>
                <input type="email" name="email" placeholder="Email" required />
              </div>
              <div class="input_field"> <span><i aria-hidden="true" class="fa fa-lock fa-lg"></i></span>
                <input type="password" name="phone" placeholder="Password" required />
              </div>
              <button class="btn btn-success btn-lg" type="submit" id="signup">Login</button>
              <div class="row clearfix bottom_row">
                <div class="col_half forgot_pw"><a href="#">Forgot Password?</a></div>
              </div>
            </form>
          </div>
          <div class="row clearfix">
            <div class="col_half">
              <div class="social_btn fb"><a href="#"><span><i class="fa fa-facebook" aria-hidden="true"></i></span>Sign in with Facebook</a></div>
              <div class="social_btn tw"><a href="#"><span><i class="fa fa-twitter" aria-hidden="true"></i></span>Sign in with Twitter</a></div>
              <div class="social_btn gplus"><a href="#"><span><i class="fa fa-google-plus" aria-hidden="true"></i></span>Sign in with Google+</a></div>
              <div class="row clearfix create_account">
                <div>Don't have any Account? Create one Here <a href="#">Sign Up</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
<div id="second">
  <div class="transnew row">
    <p>&nbsp;</p><p>&nbsp;</p>
    <div class="col-sm-12"><h1>How to Play on FantasyChamp?</h1><br><br><br></div>
    <div class="col-sm-4 stepContainer" data-aos="fade-up" id="setp1">
      <center><h2 class="countSteps">1</h2>
      <div class="qLoader2 manualCount"></div></center>
      <div><br>
        <img src="{% static "images/testStep.jpg" %}" alt="Sorry!" class="logo stepsImage" data-aos="zoom-in">
        <h2>Select A League</h2>
        <h4>Select a League of your Choice from Available Leaguages</h4>
      </div>
    </div><br><br><br>
    <div class="col-sm-4 stepContainer" data-aos="fade-up" id="setp2">
      <center><h2 class="countSteps">2</h2>
      <div class="qLoader2 manualCount"></div></center>
      <div><br>
        <img src="{% static "images/testStep.jpg" %}" alt="Sorry!" class="logo stepsImage" data-aos="zoom-in">
        <h2>Choose 11 Players</h2>
        <h4>Select your best 11 players from both the teams. And Choose One Captain and One Vice-Captain</h4>
      </div>
    </div><br><br><br>
    <div class="col-sm-4" data-aos="fade-up" id="setp3">
      <center><h2 class="countSteps">3</h2>
      <div class="qLoader2 manualCount"></div></center>
      <div><br>
        <img src="{% static "images/testStep.jpg" %}" alt="Sorry!" class="logo stepsImage" data-aos="zoom-in">
        <h2>Win Daily Cash Prizes</h2>
        <h4>Win Cash Prizes according to the rank you got in Leagues</h4>
      </div>
    </div>
  </div>
</div>
<div id="third">
  <div class="trans row">
    <div class="col-sm-4" style=":100vh;"><br>
      <div class="col-sm-12" data-aos="fade-up-left" style="width:60%;margin-left:40%; height:33vh;">
        <div class="" style="margin-top:20%;">
          <i class="fa fa-certificate fa-3x" aria-hidden="true"></i>
          <h3>Signup Bonus<h3>
        </div>
      </div>
      <div class="col-sm-12" data-aos="fade-left" style=";width:60%;margin-left:40%; height:33vh;">
        <div class="" style=";margin-top:20%;">
          <i class="fa fa-certificate fa-3x" aria-hidden="true"></i>
          <h3>Variety of Leages<h3>
        </div>
      </div>
      <div class="col-sm-12" data-aos="fade-down-left"style="width:60%;margin-left:40%; height:33vh;">
        <div class="" style="margin-top:20%;">
          <i class="fa fa-certificate fa-3x" aria-hidden="true"></i>
          <h3>Win Real Cash Prizes<h3>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <img src="{% static "images/testlogo.png" %}" alt="Sorry!" class="logo" id="fearturesLogo" data-aos="zoom-in">
    </div>
    <div class="col-sm-4">
      <div class="col-sm-12" data-aos="fade-up-right" style="width:60%;margin-right:40%; height:33vh;">
        <div class="" style="margin-top:20%;">
          <i class="fa fa-certificate fa-3x" aria-hidden="true"></i>
          <h3>24x7 Support<h3>
        </div>
      </div>
      <div class="col-sm-12" data-aos="fade-right" style=";width:60%;margin-right:40%; height:33vh;">
        <div class="" style=";margin-top:20%;">
          <i class="fa fa-certificate fa-3x" aria-hidden="true"></i>
          <h3>High Rewards<h3>
        </div>
      </div>
      <div class="col-sm-12" data-aos="fade-down-right" style="width:60%;margin-right:40%; height:33vh;">
        <div class="" style="margin-top:20%;">
          <i class="fa fa-certificate fa-3x" aria-hidden="true"></i>
          <h3>No Need of PAN Card Details<h3>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="fourth">
  <div class="trans row">
    <p>&nbsp;</p><p>&nbsp;</p>
    <div class="col-sm-12"><h1>FAQs</h1><br><br><br></div>
    <div class="col-sm-12 faq">
      <div class="col-md-6">
				<div class="qa-section">
					<b><p class="question">Q. What is FantasyChamps?</p></b>
					<p class="answer">Ans. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				</div><br><br>
				<div class="qa-section">
					<b><p class="question">Q. Ok, but what is Fantasy Cricket?</p></b>
					<p class="answer">Ans. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				</div>
			</div>
			<div class="col-md-6">
				<div class="qa-section">
					<b><p class="question">Q. What is point System?</p></b>
					<p class="answer">Ans. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				</div><br><br>
				<div class="qa-section">
					<b><p class="question">Q. What about Competetion!</p></b>
					<p class="answer">Ans. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				</div>
			</div>
		</div>
	</div>
  </div>
</div>
{% endblock%}
