/*****Match Area*****/
.MatchArea{
  width: 550px;
  position: relative;
  height: 100vh;
  height: -moz-calc(100vh - 50px);
  height: -webkit-calc(100vh - 50px);
  height: calc(100vh - 50px);
  overflow-y: auto;
  left: 0%;
  background-color: #ccc;
  z-index: 999;
  background-size: cover;
}

.MainBackground{
  background: url('../../images/backoneOri.jpg') no-repeat center / cover;
  width: 100vw;
  height: 100%;
  position: fixed; 
  margin: 0;
  top: 0%;
  content: "";
  overflow: hidden;
}
.color-overlay {
  width: 100%;
  height: 100%;
  background: rgba(2,112,200,0.7);
  opacity: .6;
  position: absolute;
}

/***** Tester  *****/
/*.outer {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.inner {
  margin-left: auto;
  margin-right: auto;
  width: 768px;
}

.matchInfo{
  z-index: 2;
  position: relative;
}

.venue{
  position:absolute;
  top:10px;
  left:70px;
  z-index: 10;
}

.matchInfoContainer{
  z-index: 1;
}

.matchNo{
  position:absolute;
  top:45px;
  left:70px;
  z-index: 10; 
}

.playerCounter{
  position:absolute;
  top:10px;
  left:455px;
  z-index: 10; 
}
#signup
{
  background-color: #ff4f8b  !important;
  border-color: #ff4f8b  !important;
  border-radius: 10px;
  font-size: 15px;
  color:#fff;
  text-align: center;
}

.playNowButton{
  position:absolute;
  top:45px;
  left:455px;
  z-index: 10; 
  color:red;
}

.navbar-fixed-top
{
  background-color: #06FF00;
  color: #ff4f8b  !important;;
}*/


/***** For All *****/
@media screen and (max-width:480px){
  h1 { font-size: 6.5vw; }
  h2 { font-size: 6vw; }
  h3 { font-size: 5.5vw; }
  h4 { font-size: 5vw; }
  h5 { font-size: 4.5vw; }
  h6 { font-size: 3.5vw; }
}

body
{
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  margin: 0px;
}

.right{
  float:right;
}

.left{
  float: left;
}

/***** Random stuff I*****/


.blackColor
{
  color:white;
  font-size: 18px;
}
#FanCricket
{
  color:#d2d1d1;
  font-size: 18px;
}
#FanCricket:hover
{
  color:white;
}
#myNav
{
  border-width: 0px;
  color:white;
}
.blackColor:hover
{
  color:#white;
}
#matchDetails
{
  color:rgb(54, 196, 4);
}
#matchDetails:hover
{
  background-color:rgb(245, 245, 245);
  transition: 0.5s;
}
#matchDetails h4
{
  color:#222;
}
#matchTimeText
{
  color:green;
}

/*****Custom Header*****/
* {
  box-sizing: border-box;
}



.nav {
  height: 50px;
  width: 550px;
  background-color: #4d4d4d;
  position: relative;
  z-index: 1000;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #efefef;
}

.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.nav > #nav-check {
  display: none;
}

@media (max-width:1920px) {
  
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    margin-top: 5px;
    margin-right: 5px;
    width: 40px;
    height: 40px;
    padding: 13px;
    border-radius: 6px;
  }
  .nav > .nav-btn > label:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    margin-top:-2px;
    margin-left: -2px;
    width: 19px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) + .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked + .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}
@media (max-width: 550px) {
  .nav{
    width: 100%;
  }
  .MatchArea{
    width:100%;
  }

